<!DOCTYPE html>

{% load staticfiles %}

{% block title_block %}
About Rango
{% endblock %}
{% block body_block %}  
<h1>Rango says...</h1>
<p>here is the about page.</p>
<div> 
    hey there partner! <br />
    <strong>This tutorial has been put together by Theresa</strong><br />
</div>
<div>
    <a href="{% url 'rango:index' %}">Index</a><br />

    <body>
        <h1>Rango says here is the about page</h1>
        <div>
            this is the about page for the rango app! <br />
            <strong>This tutorial has been put together by Theresa!!!</strong> <br />
        </div>
        <div>
            <a href="/rango/">Back</a><br />
            <img src="{% static 'images/rango.jpg' %}"
             alt="Thoughts are being thunk..." />
             <img src="{{ MEDIA_URL }}cat.jpg"
             alt="Picture of a cat"/>
        </div>
    </body>
</html>